@using BacaratWeb.ViewModel.Transfert

@{
    var currentMode = ViewBag.Mode ?? "all";
    var language = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString().ToCamelCase();
}

<div class="smallCaps text-green mt-2 mb-2">
    <div id="menuSelectMode" class="align-menu-items-center"></div>
</div>

<script>
    var _transfertCurrentMode = '@currentMode';
</script>

<div id="transfertContent">
    <div id="gridAllDocumentsContainer" style="display:none;">
        @(Html.DevExtreme().DataGrid<DocumentViewModel>()
            .ID("allDocumentsGrid")
            .ShowBorders(true)
            .ColumnAutoWidth(true)
            .SearchPanel(s => s.Visible(true).Placeholder("Rechercher..."))
            .Columns(columns =>
            {
                columns.AddFor(m => m.Name).Caption("Nom du document");
                columns.AddFor(m => m.Description).Caption("Description");
                columns.AddFor(m => m.ContentType).Caption("Type");
                columns.AddFor(m => m.FileSize).Caption("Taille");
                columns.AddFor(m => m.UploadDate).Caption("Date d'ajout");
                columns.AddFor(m => m.ExpiryDate).Caption("Date d'expiration");
                columns.AddFor(m => m.OwnerName).Caption("Propriétaire");
                
                columns.AddFor(m => m.Email).Caption("Destinataire");
                
                columns.Add()
                .Caption("Statut")
                .DataField($"StatutDocumentName{language}");
            })
            .DataSource(ds => ds.Mvc()
                .Area("Transfert")
                .Controller("Document")
                .LoadAction("GetAllDocuments"))
        )
    </div>

    
    <div id="gridMyDocumentsContainer" style="display:none;">
    <div class="mb-2">
        <div id="btnAddDocument">

        </div>
    </div>
    @(Html.DevExtreme().DataGrid<DocumentViewModel>()
        .ID("myDocumentsGrid")
        .ShowBorders(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).Placeholder("Rechercher..."))
        .Columns(columns =>
        {
            columns.AddFor(m => m.Name).Caption("Nom du document");
            columns.AddFor(m => m.Description).Caption("Description");
            columns.AddFor(m => m.ContentType).Caption("Type");
            columns.AddFor(m => m.FileSize).Caption("Taille");
            columns.AddFor(m => m.UploadDate).Caption("Date d'ajout");
            columns.AddFor(m => m.ExpiryDate).Caption("Date d'expiration");
            columns.AddFor(m => m.Email).Caption("Destinataire");

            columns.Add()
                .Caption("Statut")
                .DataField($"StatutDocumentName{language}");
        })
        .DataSource(ds => ds.Mvc()
            .Area("Transfert")
            .Controller("Document")
            .LoadAction("GetMyDocuments"))
    )
    </div>

    <div id="gridSharedDocumentsContainer" style="display:none;">
        @(Html.DevExtreme().DataGrid<DocumentViewModel>()
            .ID("sharedDocumentsGrid")
            .ShowBorders(true)
            .ColumnAutoWidth(true)
            .SearchPanel(s => s.Visible(true).Placeholder("Rechercher..."))
            .Columns(columns =>
            {
                columns.AddFor(m => m.Name).Caption("Nom du document");
                columns.AddFor(m => m.Description).Caption("Description");
                columns.AddFor(m => m.ContentType).Caption("Type");
                columns.AddFor(m => m.FileSize).Caption("Taille");
                columns.AddFor(m => m.UploadDate).Caption("Date d'ajout");
                columns.AddFor(m => m.ExpiryDate).Caption("Date d'expiration");
                columns.AddFor(m => m.OwnerName).Caption("Propriétaire");

                columns.Add()
                    .Caption("Statut")
                    .DataField($"StatutDocumentName{language}");
            })
            .DataSource(ds => ds.Mvc()
                .Area("Transfert")
                .Controller("Document")
                .LoadAction("GetSharedWithMeDocuments"))
        )
    </div>
</div>
@(Html.DevExtreme().Popup()
    .ID("addDocumentPopup")
    .Width(500)
    .Height("auto")
    .ShowTitle(true)
    .Title("Ajouter un document")
    .DragEnabled(true)
    .CloseOnOutsideClick(true)
    .ContentTemplate(@<text>
        <div id="addDocumentForm"></div>
        <div class="mt-3 text-right">
            <div id="btnSubmitAddDocument"></div>
        </div>
    </text>)
)
